<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% block title%}
Ravi's blog home page
{%endblock%}

{% block body_block%}
    <h1>Ravi's Blog</h1>
 {%if tag%}
 <h2>Posts tagged with "{{tag.name}}"</h2>
 {%endif%}
  {%for post in post_list %}
   <h2> <a href="{{post.get_absolute_url}}">{{post.title}}</a> </h2>
    <p>Tags:
      {%for tag in post.tags.all %}
      <a href="{%url "post_list_by_tag_name" tag.slug %}">{{tag.name}}</a>
      {%if not forloop.last%}, {%endif%}
      {%endfor%}
    </p>
   <p id='date'>Published on {{post.publish}} by {{post.author|title}}</p>
   {{post.body|truncatewords:30|linebreaks}}
{%endfor%}

   <!-- is used when function based views, {%include 'blog/paginator.html' with page=post_list%}  -->
        {%include 'blog/paginator.html' with page=post_list%}
    <!-- below line is used when class based listview (post_list=page_obj)-->
    <!--{%include 'blog/paginator.html' with page=page_obj%}-->
{%endblock%}